*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#sarga{
    background-color: #f3953e;
    color: white;
    padding: 10px;
}
.gomb{
    background-color: white;
    color: #f3953e;
    border:none;
}
h3{
    color: #f3953e;
}
th{
    width: 30%;
    text-align: center;
}
td{
    width: 70%;
}
.fent{
    padding: 5px;
}
.bsarga{
    color: #f3953e;
}